.categories {
  width: 100%;
  height: inherit;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.payment_header {
  font-size: 2rem;
  color: hsl(211, 37%, 40%);
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.cat {
}

.payment_box {
  height: 55%;
  max-width: 768px !important;
  border-radius: 20px;
}

.payment_page {
  display: flex;
  align-items: center;

  background-color: white;
  height: 100vh;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none !important;
}

.btn-secondary:active {
  color: #fff;
  background-color: none !important;
  border-color: none !important;
}

.btn-secondary:focus {
  box-shadow: none !important;
  background-color: none !important;
  border-color: none !important;
}
@media (max-width: 768px) {
  .payment_page {
    padding: 0;
  }
  .payment_header {
    font-size: 1.2rem;
    font-weight: 600;
  }
}
.bg-image1 {
  position: relative;
  background: white;
  overflow: hidden;
  z-index: 1;
}
.bg-image1:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.3;
  filter: blur(4px);

  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
